@page "/fetchdata"

@using MoviesRatings.Data
@inject MovieService MovieService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (Movies == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in Movies)
            {
                <tr>
                    <td></td>
                    
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private MovieService[] Movies;

    protected override async Task OnInitializedAsync()
    {
        
    }
}
